//- Variables
//- Header
- var headerItems = {"./index.html": "Inicio", "./us.html": "Nosotros", "./services.html": "Servicios", "./about.html": "Proyectos", "./faq.html": "FAQ"}

//- Sections
//- Main
//- Cards
- var cardImages = ["./assets/png/s1.png","./assets/png/s2.png","./assets/png/s3.png","./assets/png/s4.png"]
- var cardTitles = ["Prótesis de Dedo", "Prótesis de Mano", "Prótesis de Antebrazo", "Prótesis de Brazo"]
- var cardTexts = [["Diseño Personalizado","Apariencia Hiperrealista","Color de tu piel"],["Diseño Personalizado","Apariencia Hiperrealista","Color de tu piel"],["Diseño Personalizado","Apariencia Hiperrealista","Color de tu piel"],["Diseño Personalizado","Apariencia Hiperrealista","Color de tu piel"]]
- var cardModals = ["#exampleModal", "#exampleModal", "#exampleModal", "#exampleModal"]

//- Healthy Tips
- var cardHealthyImages = ["./assets/png/image.png","./assets/jpg/img-1.jpg","./assets/jpg/img-2.jpg"]
- var cardHealthyTitles = ["Card title", "Card title", "Card title"]
- var cardHealthyTexts = ["This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.", "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.", "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."]

//- Insurance images
- var insuranceImages = ["./assets/jpg/img-3.jpg","./assets/png/image.png","./assets/png/image.png","./assets/png/image.png","./assets/png/image.png","./assets/png/image.png","./assets/png/image.png","./assets/png/image.png"]

//- Footer
//- Patient Care
- var objCare = headerItems

//- Contact
- var contactIcons = ["bi-cursor","bi-telephone","bi-envelope","bi-clock"]
- var contactTexts = ["Av. Busch esquina Pasoskanki #1599 La Paz","+591 77540218","creotec@grupotec.io","Lu-Mi: 09:00-23:00h"]
- var contactUrls = ["https://goo.gl/maps/2sLSML13gqrDjnicA","https://api.whatsapp.com/send?phone=59177540218&text=Hola%2C%20deseo%20solicitar%20informaci%C3%B3n%20sobre%20las%20pr%C3%B3tesis","mailto:antonio.riveros.pilco@gmail.com","#4"]

//- Cases items
- var casesItemsImages = ["./assets/png/image.png","./assets/png/image.png","./assets/png/image.png"]
- var casesItemsTexts = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit","Lorem ipsum dolor sit amet, consectetur adipiscing elit","Lorem ipsum dolor sit amet, consectetur adipiscing elit"]
- var casesItemsUrls = ["./case.html", "./case.html", "./case.html"]
- var casesId1 = ["card-1","card-2","card-3"]
- var casesId2 = ["card-4","card-5","card-6"]
- var casesId3 = ["card-7","card-8","card-9"]
//- Mixins
mixin contactItem(icon,text,url)
    li
        a(href=url style=url=="#4"?"cursor: default;":"").d-flex
            i.bi(class=icon).me-2
            p=text

mixin cardWithModal(cardImage, cardTitle, cardText, cardModal,index)
    .col-lg-3.col-12.services-card
        button.card.d-flex.align-items-center.flex-column(class=index=="0"?"services-card-active":"" id="card-"+index type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=cardModal)
            .btn.text-start
                img.card-img-top(src=cardImage alt=cardTitle)
            .card-body
                h5.card-title= cardTitle
                ul
                    each val in cardText
                        li=val


mixin card(cardImage, cardTitle, cardText)
    .col-lg-4.col-12
        .card
            img.card-img-top(src=cardImage alt=cardTitle)
            .card-body
                h5.text-start.card-title= cardTitle
                p.text-start.card-text= cardText

mixin rowCasesCards(images,texts,urls,ids)
    .row.mb-5
        each val,index in images
            .col-4
                .card(id=ids[index])
                    img.card-img-top(src=val alt=image)
                    .card-body
                        p.card-text= texts[index]
                        a(href=urls[index]) Read more
    
mixin rowAboutCards(images,texts,urls,ids)
    .row.mb-3
        each val,index in images
            .col-12.col-lg
                .card(id=ids[index])
                    img.card-img-top(src=val alt=image)
                    .card-body
                        h5 Title
                        p Lorem ipsum dolor sit amet
    